<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <div class="footer">
        <hr>
        <div class="mx-5 row justify-content-between">
            <p class=" py-2 text col-auto">
                © 2016-{% now "Y" %} «МосЖилСтрой». Все права защищены.
            </p>
            <a class=" py-2 col-auto" href="#up">
                <span class="iconify icon" data-icon="mdi-chevron-double-up" data-inline="false"></span>
            </a>
        </div>
    </div>
</body>

<style>
    .footer {
        background: #e3e3e3;
        padding-bottom: 5px;
    }
    .text {
        color: #676767;
    }
</style>
</html>